---
layout: page
title: "Jessica M. Lindsay"
description: "Graduate student at University of Washington School of Aquatic and Fishery Sciences"
active: gallery
header-img: "img/DSC_8204_1.jpg"
---



</section>

<div id="footer" role="contentinfo">
		<ul class="soc-icons">

                 {% if site.facebook_username %}
			<li>
   <a href="https://facebook.com/{{ site.facebook_username }}" style="
color:#dddddd; target="_blank" title="Facebook">
                       <i class="fa fa-facebook"></i>
                     </span>
</a></li>
    {% endif %}
 {% if site.twitter_username %}
			<li>
   <a href="https://twitter.com/{{ site.twitter_username }}" style="
color:#dddddd; target="_blank" title="Twitter">
                       <i class="fa fa-twitter"></i>
                     </span>
</a></li>
    {% endif %}
                {% if site.instagram_username %}
			<li>
   <a href="https://instagram.com/{{ site.instagram_username }}" style="
color:#dddddd; target="_blank" title="Instagram">
                       <i class="fa fa-instagram"></i>
                     </span>
</a></li>
    {% endif %}
                    {% if site.flickr_username %}
						<li>
   <a href="https://flickr.com/photos/{{ site.flickr_username }}" style="
color:#dddddd; target="_blank" title="Flickr">
              <i class="fa fa-flickr"></i>
                     </span>
 </a></li>
     {% endif %}
                    {% if site.deviantart_username %}
			<li>
   <a href="http://{{ site.deviantart_username }}.deviantart.com" style="
color:#dddddd; target="_blank" title="DeviantArt">
<i class="fa fa-deviantart"></i> </span>
</a></li>
    {% endif %}
                    {% if site.github_username %}
                <li>
   <a href="https://github.com/{{ site.github_username }}" style="
color:#dddddd; target="_blank" title="Github">
              <i class="fa fa-github"></i>
                     </span>
                   {% endif %}
<li>
    <a href="mailto:{{ site.email }}" style="
color:#dddddd; target="_blank" title="Email">
              <i class="fa fa-envelope-o"></i></span>
          </a> </li>


		</ul>
	</div>
