---
layout: page
title: "Jessica M. Lindsay"
subtitle: "Graduate student at the University of Washington School of Aquatic and Fishery Sciences"
description: "Graduate student at University of Washington School of Aquatic and Fishery Sciences.
SITE UNDER CONSTRUCTION."
active: gallery
header-img: "img/DSC_8204_1_resized.jpg"
---
<!--

<html class="no-js" lang="en">
<head>
	<meta content="charset=utf-8">

<!-- CSS -->
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="{{ site.baseurl }}/css/galleries.css" media="screen" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/WYSIWYG.css" media="screen" />



	<!-- Modernizr -->
  <script src="{{ site.baseurl }}/js/modernizr.js"></script>





</head>

<body class="fullscreen">

<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">
		<div class="wrapper">

			<!-- WYSIWYG -->

		<div class="position-absolute">
				<h2 class="big no-margin"><strong>{{ page.title }}</strong></h2>
				<h2>{{ page.subtitle }}</h2>
                     <div class="entry-summary">
							<p>{{ page.description }}</p>
						</div><br />
			</div>



</body></html>

</section>

<div id="footer" role="contentinfo">
		<ul class="soc-icons">

                 {% if site.facebook_username %}
			<li>
   <a href="https://facebook.com/{{ site.facebook_username }}" style="
color:#dddddd; target="_blank" title="Facebook">
                       <i class="fa fa-facebook"></i>
                     </span>
</a></li>
    {% endif %}
 {% if site.twitter_username %}
			<li>
   <a href="https://twitter.com/{{ site.twitter_username }}" style="
color:#dddddd; target="_blank" title="Twitter">
                       <i class="fa fa-twitter"></i>
                     </span>
</a></li>
    {% endif %}
                {% if site.instagram_username %}
			<li>
   <a href="https://instagram.com/{{ site.instagram_username }}" style="
color:#dddddd; target="_blank" title="Instagram">
                       <i class="fa fa-instagram"></i>
                     </span>
</a></li>
    {% endif %}
                    {% if site.flickr_username %}
						<li>
   <a href="https://flickr.com/photos/{{ site.flickr_username }}" style="
color:#dddddd; target="_blank" title="Flickr">
              <i class="fa fa-flickr"></i>
                     </span>
 </a></li>
     {% endif %}
                    {% if site.deviantart_username %}
			<li>
   <a href="http://{{ site.deviantart_username }}.deviantart.com" style="
color:#dddddd; target="_blank" title="DeviantArt">
<i class="fa fa-deviantart"></i> </span>
</a></li>
    {% endif %}
                    {% if site.github_username %}
                <li>
   <a href="https://github.com/{{ site.github_username }}" style="
color:#dddddd; target="_blank" title="Github">
              <i class="fa fa-github"></i>
                     </span>
                   {% endif %}
<li>
    <a href="mailto:{{ site.email }}" style="
color:#dddddd; target="_blank" title="Email">
              <i class="fa fa-envelope-o"></i></span>
          </a> </li>


		</ul>
	</div>
